component
  display: flex
  flex-direction: column
  height: 100%

  .entry-numbers
    flex: 1
    display: grid
    grid-template-columns: repeat(4, min-content)
    align-content: center
    gap: 2px
    padding: 0 0.25rem
    width: fit-content
    margin: auto

    .entry-number
      flex: 0 0 20px
      display: grid
      font-size: 0.625em
      width: 20px
      height: 20px
      place-items: center
      border-radius: 10px
      color: var(--color-shadow)
      background-color: rgba(black, 0.2)
      cursor: pointer

      &.current
        color: var(--color-blue)

  .header
    margin: 0
    height: 2rem
    display: flex
    align-items: center
    padding: 0 0.25rem
    font-size: 11px

    .back
      display: flex
      align-items: center
      gap: 0.25em
      padding-right: 0.5rem
      cursor: pointer
      border-radius: 2px

      &.drop-target
        outline: 1px dashed var(--color-blue)
        outline-offset: 2px

      .device-name
        border-radius: 2px
        padding: 0 0.35em
        line-height: 1.4em
        color: rgba(0, 0, 0, 0.8)
        white-space: nowrap

  .controls
    display: flex
    align-items: center
    justify-content: center
    column-gap: 0.3em
    padding: 0.375em 0.25rem

    .channel-mix
      display: flex
      flex-direction: row
      font-size: 0.625em
      column-gap: 0.375em

    .channel-isolation
      display: flex
      flex-direction: row
      font-size: 0.5em
      column-gap: 0.5em
