component
  display: flex
  flex-direction: column
  gap: 0.125em
  padding: 0.5em 0.25em
  min-width: 12em

  .add
    align-self: flex-start
    cursor: pointer
    font-size: 0.625em
    text-transform: uppercase
    letter-spacing: 0.05em
    opacity: 0.5
    padding: 0.25em

    &:hover
      opacity: 1.0

  .empty
    font-size: 0.625em
    opacity: 0.4
    padding: 0.25em
