@use "@/mixins"

component
  display: flex
  align-items: flex-start
  gap: 0.5em

  .mix
    display: grid
    grid-template: repeat(3, 3.5em) / min-content
    row-gap: 0.25em
    @include mixins.Control