@use "@/colors"
@use "@/mixins"

component
  display: grid
  grid-template-rows: repeat(10, 1fr)
  grid-template-columns: auto auto 2em auto 4em
  align-content: start
  position: relative
  @include mixins.Control

  > h3
    font-size: 9px
    font-weight: 400
    letter-spacing: 0.3px
    line-height: 1.375em
    padding: 0 1px
    text-align: center
    writing-mode: vertical-rl
    rotate: 180deg
    white-space: nowrap
    width: 1.5em
    justify-self: end
    border-radius: 0 2px 2px 0
    color: rgba(black, 0.8)
    background-color: var(--color)
    position: relative

    &::after
      top: 0
      right: 100%
      width: 128px
      content: ''
      height: 100%
      position: absolute
      background: linear-gradient(to left, var(--color) -2000%, transparent 128px)

  > div.control
    display: grid
    grid-template-rows: auto auto
    row-gap: 1px
    white-space: nowrap
    justify-content: center
    padding: 3px 4px 0 4px

    > h3
      font-size: 9px
      height: 12px
      letter-spacing: 0.5px
      text-align: center
      text-transform: capitalize
      color: var(--color-shadow)
      z-index: 1