@use "@/mixins"

component
  display: grid
  grid-template-columns: repeat(8, auto)
  grid-template-rows: auto auto 1fr
  row-gap: 0.25em
  column-gap: 0.25em
  align-items: center
  @include mixins.Control

  > span
    font-size: 9px
    white-space: nowrap
    color: var(--color-shadow)
    text-align: right

  > button[class*="SidechainButton"]
    grid-column: span 2

  > div[class*="GateDisplay"]
    grid-column: 1 / -1
