@use "@/mixins"

component
  display: flex
  flex-direction: row
  align-items: stretch
  gap: 0.5em
  padding: 0.5em
  @include mixins.Control

  > div.slider-section
    display: flex
    flex-direction: column
    align-items: center
    gap: 0.5em
    height: 140px

    > .vertical-slider
      flex: 1
      width: 24px

    > div.lookahead
      display: flex
      flex-direction: column
      align-items: center
      font-size: 0.625rem
