component
  display: contents

  > .macro
    grid-column: 1 / -1
    display: grid
    align-items: center

    .slider
      --fill-start: 0.5
      --fill-size: 0
      position: relative
      height: 2.1875em
      border-radius: 6px
      outline: 0.5px solid hsla(200, 40%, 70%, 0.08)
      outline-offset: -1px
      overflow: hidden

      > .fill
        position: absolute
        top: 4px
        bottom: 4px
        left: calc(4px + (100% - 8px) * var(--fill-start))
        width: calc((100% - 8px) * var(--fill-size))
        border-radius: 3px
        background: linear-gradient(to right, hsla(200, 83%, 60%, 0.15), hsla(200, 83%, 60%, 0.45))
        box-shadow: 0 0 4px 0 hsla(200, 83%, 60%, 0.04) inset

      > .track
        position: absolute
        top: 4px
        bottom: 4px
        left: 4px
        right: 4px
        border-radius: 3px
        background: hsla(200, 83%, 60%, 0.04)

      > .print
        position: absolute
        inset: 0
        display: grid
        place-items: center
        font-size: 0.75em
        letter-spacing: 0.05em
        color: var(--color-bright)
        opacity: 0.5
        pointer-events: none
