component
  width: 14em
  height: 4em
  position: relative
  border-radius: 6px
  outline: 0.5px solid hsla(200, 40%, 70%, 0.08)
  outline-offset: -1px

  > canvas
    top: 4px
    left: 4px
    width: calc(100% - 8px)
    height: calc(100% - 8px)
    position: absolute
    border-radius: 3px
    box-shadow: 0 0 4px 0 hsla(200, 83%, 60%, 0.04) inset, 0 0 1px 0 hsla(200, 83%, 60%, 0.04) inset
