@use "@/mixins"

component
  display: flex
  column-gap: 14px
  align-items: start
  @include mixins.Control

  > div.block
    display: grid
    column-gap: 0.25em
    row-gap: 0.25em
    align-content: start

    &.left
      grid-template-columns: repeat(4, 3.5em)

    &.right
      grid-template-columns: repeat(5, 3.5em)
      row-gap: 0

  div.cell
    display: grid
    grid-template-rows: 0.625em 2em 0.625em
    justify-items: center
    align-items: center
    min-width: 0
    margin: 0 1px

    > h3
      font-size: 8px
      letter-spacing: 0.5px
      text-align: center
      color: hsl(65, 20%, 83%)
      white-space: nowrap
      align-self: center

    > .radios
      display: flex
      flex-wrap: nowrap
      justify-content: center
      align-items: center
      gap: 3px
      white-space: nowrap
      grid-row: 2 / 4
      align-self: center

    .wave-frame
      position: relative
      width: 3.25em
      height: 2em

    > span.wave-name
      font-size: 8px
      color: hsl(65, 20%, 83%)
      white-space: nowrap
      overflow: hidden
      max-width: 3.4em

  div.cell.copy-cell
    grid-template-rows: 1fr

  span.copy-button
    font-size: 8px
    letter-spacing: 0.5px
    padding: 1px 5px
    border-radius: 2px
    color: var(--color-bright)
    outline: 0.5px solid hsla(200, 40%, 70%, 0.15)

  div.line-tabs
    grid-column: 1 / -1
    display: flex
    align-items: flex-end

    > .tabs
      display: flex
      column-gap: 1px

      label
        display: inline-block
        font-size: 8px
        letter-spacing: 0.5px
        padding: 6px 10px
        border-radius: 3px 3px 0 0
        color: var(--color-shadow)

      input:checked + label
        color: var(--color-bright)
        background: color-mix(in srgb, var(--color-green) 5%, transparent)

  div.line-body
    grid-column: 1 / -1
    display: grid
    grid-template-columns: subgrid
    grid-template-rows: auto 108px
    row-gap: 0.25em
    padding: 3px 0 2px 0
    border-radius: 0 3px 3px 3px
    background: color-mix(in srgb, var(--color-green) 5%, transparent)

    > div.cells
      display: contents

    > div.envelopes
      grid-column: 1 / -1
      padding: 0 3px
