@use "tokens" as *

component
  display: flex
  flex-direction: column

  > .body
    display: flex
    flex-wrap: wrap

    &.vertical
      flex-direction: column
      flex-wrap: nowrap
      row-gap: 0.4em

  .entry
    display: flex
    align-items: center
    column-gap: 0.4em

  .help
    display: inline-flex
    color: var(--color-shadow)
    background: none
    border: none
    padding: 0
    cursor: pointer

    &:hover
      color: var(--color-blue)

    > svg
      width: 13px
      height: 13px

  .link
    display: inline-flex
    width: max-content
    align-items: center
    column-gap: 0.5em
    color: var(--color-dark)
    font: inherit
    font-size: $fs-m
    text-decoration: none
    cursor: pointer
    background: none
    border: none
    padding: 0
    text-align: left

    &:hover
      color: var(--color-blue)

    > svg
      width: 16px
      height: 16px

  .provider
    display: block
    width: 100%
    max-width: 11em
    opacity: 0.7

    &:hover
      opacity: 1

    > img
      width: 100%
      height: auto
      display: block

  .sponsors
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fill, 32px)
    gap: 4px

    > a > img
      width: 32px
      height: 32px
      border-radius: 50%
      display: block
