component
  display: contents

  > .modulator
    display: grid
    grid-template-rows: auto auto
    align-content: start
    row-gap: 0.25em
    padding: 0.25em

    > header
      display: grid
      grid-auto-flow: column
      justify-content: start
      align-items: center
      column-gap: 0.5em

      > .icon
        color: var(--color-gray)

      > .toggle
        cursor: pointer
        color: var(--color-gray)

      > h1
        margin: 0
        max-width: 12em
        font-size: 1em
        font-weight: normal
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

  h5
    width: fit-content
    height: 1.5em
    line-height: 1.5em
    font-size: 0.5em
    text-transform: capitalize
    letter-spacing: 0.08em
    white-space: nowrap
    color: var(--color-cream)

  .body
    display: grid
    grid-auto-flow: column
    justify-content: start
    align-items: stretch
    column-gap: 1px
    font-size: 16px

  &.disabled
    > .modulator > header > .toggle
      color: var(--color-dark)

    > .modulator > .body, > :nth-child(2)
      opacity: 0.4
