@use "@/colors"

component
  flex: 1 1 auto
  min-height: 0
  display: flex
  column-gap: 1px
  @include colors.panel-background
  color: var(--color-bright)
  font-size: 0.75em

  > .column
    display: flex
    flex-direction: column
    min-height: 0
    padding: 0.5em

    > h5
      flex: 0 0 auto
      margin: 0 0 0.5em 0
      display: flex
      align-items: center
      column-gap: 0.5em
      color: var(--color-gray)
      text-transform: uppercase
      letter-spacing: 0.05em
      font-size: 0.9em

      > .spacer
        flex: 1 1 auto

  > .modulators
    flex: 0 0 12em

    > .list
      flex: 1 1 auto
      min-height: 0
      overflow-y: auto
      display: flex
      flex-direction: column
      row-gap: 1px

      > .entry
        display: flex
        align-items: center
        column-gap: 0.5em
        padding: 0.25em 0.5em
        border-radius: 2px
        cursor: pointer
        color: var(--color-gray)

        &:hover
          background-color: rgba(255, 255, 255, 0.04)
          color: var(--color-bright)

        > .name
          flex: 1 1 auto
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap

      > .empty
        color: var(--color-dark)
        padding: 0.25em 0.5em

  > .editors
    flex: 1 1 auto
    min-width: 0
    align-items: stretch
    min-height: 0
    overflow-y: auto
    display: flex
    flex-direction: column
    row-gap: 1px
    padding: 0.5em 0.5em 0.5em 0

    > .placeholder
      display: flex
      flex: 1 1 auto
      align-items: center
      justify-content: center
      color: var(--color-dark)
