component
  display: contents

  > .modulator
    grid-column: 1
    grid-row: span 2
    display: grid
    grid-template-rows: subgrid
    padding: 0 0.25em

    > header
      padding-top: var(--editor-gap)
      display: grid
      grid-template-columns: 1fr auto auto
      align-items: center
      column-gap: 0.5em

      > .toggle
        cursor: pointer
        color: var(--color-gray)

      > h1
        margin: 0
        font-size: 1em
        font-weight: normal
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    > .body
      display: grid
      grid-auto-flow: column
      align-items: stretch
      column-gap: 1px
      font-size: 16px

  h5
    width: fit-content
    height: 1.5em
    line-height: 1.5em
    font-size: 0.5em
    text-transform: capitalize
    letter-spacing: 0.08em
    white-space: nowrap
    color: var(--color-cream)

  &.disabled
    > .modulator
      > header > .toggle
        color: var(--color-dark)

      > .body
        opacity: 0.4
