component
  grid-column: 2
  grid-row: span 2
  display: grid
  grid-template-rows: subgrid

  > .entries
    grid-row: 2
    display: grid
    grid-template-columns: 1fr auto auto auto
    grid-auto-rows: 1.5em
    align-content: safe center
    align-items: center
    column-gap: 0.5em
    height: var(--body-height)
    padding: 0.25em var(--scroller-width) 0.25em 0.5em
    overflow-y: auto
    border-radius: 3px
    background-color: rgba(black, 0.08)

    > .entry
      display: contents

      > .target
        display: grid
        grid-auto-flow: column
        justify-content: start
        column-gap: 0.35em
        overflow: hidden
        white-space: nowrap
        font-size: 0.8em
        color: var(--color-bright)

        > .parameter
          color: var(--color-dark)

      label
        font-size: 10px

      > .toggle
        cursor: pointer
        color: var(--color-gray)

      &.disabled
        > *, label
          opacity: 0.4

        > .toggle
          color: var(--color-dark)
