component
  grid-column: 2 / -1
  grid-row: span 2
  display: grid
  grid-template-columns: subgrid
  grid-template-rows: subgrid
  padding: 0.25em 0

  > .entries
    grid-column: 1 / -1
    grid-row: 2
    display: grid
    grid-template-columns: subgrid
    align-content: start
    align-items: center
    row-gap: 1px

    > .entry
      display: contents

      > .target
        display: grid
        grid-auto-flow: column
        justify-content: start
        column-gap: 0.35em
        overflow: hidden
        white-space: nowrap
        font-size: 0.8em
        color: var(--color-bright)

        > .separator
          color: var(--color-dark)

      label
        font-size: 10px

      > .toggle
        cursor: pointer
        color: var(--color-gray)

      &.disabled
        > *
          opacity: 0.4

        > .toggle
          color: var(--color-dark)
