@use "@/mixins"

component
  @include mixins.library-item-outer

  &.empty > div.folder-header
    cursor: default

    > span.marker
      visibility: hidden

  > div.folder-header
    grid-column: 1 / -1
    display: flex
    align-items: center
    column-gap: 4px
    cursor: pointer
    color: var(--color-dark)
    padding-left: calc(var(--depth, 0) * 0.75em)

    > span.marker
      display: flex
      align-items: center
      color: var(--color-shadow)
      margin-right: -4px

      > svg.expanded
        display: none

    > div.icon
      @include mixins.color-icon-tile(18px)
      background-color: transparent
      color: var(--color-shadow)

    > span.name
      font-size: 1em
      white-space: nowrap

    > span.brief
      opacity: 0.5
      font-style: italic

  &.expanded > div.folder-header > span.marker
    > svg.collapsed
      display: none

    > svg.expanded
      display: flex

  > div.entry-list
    grid-column: 1 / -1
    display: grid
    grid-template-columns: subgrid
    row-gap: 0.375em
    --indent: calc((var(--depth, 0) + 1) * 0.75em)

    &.hidden
      display: none
