@use "@/mixins"

component
  @include mixins.library-item-outer

  &.empty > div.folder-header
    cursor: default

  > div.folder-header
    grid-column: 1 / -1
    display: grid
    grid-template-columns: subgrid
    align-items: center
    cursor: pointer
    color: var(--color-dark)

    &.drag-over
      color: var(--color-bright)
      background-color: var(--color-shadow)

    > span.label
      display: flex
      align-items: center
      column-gap: 4px
      min-width: 0
      padding-left: calc(var(--depth, 0) * 0.75em)

    > span.right
      text-align: right

    div.icon
      @include mixins.color-icon-tile(16px)
      background-color: transparent
      color: var(--color-shadow)

      > svg.expanded
        display: none

    span.name
      font-size: 1em
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    span.brief
      opacity: 0.5
      font-style: italic
      white-space: nowrap

  &.expanded > div.folder-header div.icon
    > svg.collapsed
      display: none

    > svg.expanded
      display: flex

  > div.entry-list
    grid-column: 1 / -1
    display: grid
    grid-template-columns: subgrid
    row-gap: 0.375em
    --indent: calc((var(--depth, 0) + 1) * 0.75em)

    &.hidden
      display: none
