component
  display: flex
  align-items: stretch
  justify-content: space-between
  gap: 0.5em
  min-height: 1.5em
  font-size: 10px

  > .field
    display: flex
    align-items: center
    column-gap: 1em
    padding: 0.25em 0.75em
    background: rgba(black, 0.1)
    border-radius: 0.25em

    > label
      opacity: 0.7
