component
  display: flex
  flex-direction: column
  row-gap: 0.5em
  outline: none
  height: 280px
  overflow: hidden auto

  > details.context
    outline: none
    border: none

    > summary
      list-style: none
      color: var(--color-blue)
      display: flex
      align-items: center
      cursor: pointer

      > h3
        text-transform: capitalize
        display: inline-block

    > div.shortcuts
      margin-top: 0.5em
      display: flex
      flex-direction: column
      row-gap: 0.25em
      padding: 0 1em 0 0
      outline: none

      > div.shortcut
        display: flex
        justify-content: space-between
        cursor: pointer
        color: var(--color-dark)

        > span
          white-space: nowrap

        > hr
          margin: 0.5em
          height: 1px
          border: none
          background-color: var(--color-dark)
          opacity: 0.1
          flex: 1

        &:hover
          color: var(--color-bright)